In [11]:
import pandas as pd

df1 = pd.read_csv("../data/1125801148600182.csv")

In [2]:
pd.set_option('display.max_colwidth', None)

In [10]:
df1.head()

,comment,label
0,· tổng vệ sinh chứ tổng tài gì,NaN
1,Nhìn đã thấy yêu rồi- yêu ma quỷ quái,NaN
2,Mé ơi. Sáng sớm coi cái tao cọc ngang luôn bây,NaN
3,"Một người không có truyền cảm hứng, không có xíu năng lượng tích cực nào mà Yan cũng lên content được nể thiệt",NaN
4,T nói Yan hết content r mới mời tới con này,NaN

In [13]:
len(df1)

956

In [12]:
df2 = pd.read_csv("../data/qZbIHmu3Vn.csv")
df2.head()

,comment,label
0,MỘT PHÚT TƯỞNG NIỆM cho editor của INTERPOOL hiện đang bị phơi nhiễm cringe rất nghiêm trọng sau khi xử lý quá nhiều tư liệu về Trấn Thành .(Ảnh: Anh E. cùng vợ),NaN
1,Đàm Vĩnh Biệt,NaN
2,Trấn Thành rất giỏi,NaN
3,Moá cười ỉa,NaN
4,Nó diễn đấy . Khóc con c ..,NaN

In [14]:
len(df2)

1203

In [16]:
df3 = pd.read_csv("../data/1275155160285835.csv")
df3.head()
len(df3)

849

In [17]:
combined_df = pd.concat([df1, df2, df3], ignore_index=True)

# Combine removing unusual characters from the beginning and end of the comments into one regex operation
combined_cleaned_comments = combined_df['comment'].str.replace(r'^\W+|\W+$', '', regex=True)

combined_df['comment'] = combined_cleaned_comments

combined_df.head()

,comment,label
0,tổng vệ sinh chứ tổng tài gì,NaN
1,Nhìn đã thấy yêu rồi- yêu ma quỷ quái,NaN
2,Mé ơi. Sáng sớm coi cái tao cọc ngang luôn bây,NaN
3,"Một người không có truyền cảm hứng, không có xíu năng lượng tích cực nào mà Yan cũng lên content được nể thiệt",NaN
4,T nói Yan hết content r mới mời tới con này,NaN

In [18]:
# Shuffle the DataFrame to ensure a uniform distribution of data
shuffled_df = combined_df.sample(frac=1, random_state=42).reset_index(drop=True)

shuffled_df.head()

,comment,label
0,e nhớ c e muốn c,NaN
1,tổng tài của e đây,NaN
2,Sát khí,NaN
3,"Nghĩ mà cứ ngồi cười một mình , nhìn thầy M T hăm hở đi khất thực , chả biết đằng sau ồn ào , khen , chê , nói sấu mình , cứ hăm hở đi",NaN
4,tổng này là tổng gì đâyy hả m,NaN

In [19]:
len(shuffled_df)

3008

In [20]:
shuffled_file_path = '../data/comments.csv'
shuffled_df.to_csv(shuffled_file_path, index=False)

In [21]:
shuffled_df_read = pd.read_csv(shuffled_file_path)
shuffled_df_read.head()

,comment,label
0,e nhớ c e muốn c,NaN
1,tổng tài của e đây,NaN
2,Sát khí,NaN
3,"Nghĩ mà cứ ngồi cười một mình , nhìn thầy M T hăm hở đi khất thực , chả biết đằng sau ồn ào , khen , chê , nói sấu mình , cứ hăm hở đi",NaN
4,tổng này là tổng gì đâyy hả m,NaN

# Convert to json format for labelbox

In [23]:
import csv
import json
import uuid
# Đường dẫn tới file CSV và file JSON đầu ra
csv_file_path = '../data/comments.csv'
json_file_path = '../data/comments.json'

data = []
with open(csv_file_path, mode='r', encoding='utf-8') as csv_file:
    csv_reader = csv.DictReader(csv_file)
    for row in csv_reader:
        data_row = {
            "row_data": row["comment"],
            "media_type": "TEXT",
            "global_key": str(uuid.uuid4())
        }
        data.append(data_row)

# Ghi dữ liệu vào file JSON
with open(json_file_path, mode='w', encoding='utf-8') as json_file:
    json.dump(data, json_file, ensure_ascii=False, indent=2)

print(f"Đã chuyển đổi CSV thành JSON tại: {json_file_path}")

Đã chuyển đổi CSV thành JSON tại: ../data/comments.json